LOG_LEVEL=info
MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=sensors
AMQP_URI=amqp://consumeruser:consumerpassword@localhost:5672
AMQP_MANAGEMENT_USER=guest
AMQP_MANAGEMENT_PASS=guest
AMQP_QUEUE_NAME=ks89
AMQP_HMAC_SECRET=your_super_secret_hmac_key
AMQP_CONSUMER_TAG=consumer