LOG_LEVEL=info
MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=sensors
REDIS_URI=redis://localhost:6379
REDIS_USERNAME=redisuser
REDIS_PASSWORD=Password1!
AMQP_URI=amqp://consumeruser:consumerpassword@localhost:5672
AMQP_MANAGEMENT_USER=guest
AMQP_MANAGEMENT_PASS=guest
AMQP_QUEUE_NAME=ks89
AMQP_HMAC_SECRET=your_super_secret_hmac_key
AMQP_CONSUMER_TAG=consumer
API_TOKEN_ENCRYPTION_KEY=cZk!tEefGGEwAK7PwKba3ZCBRbp6Vj8*
API_TOKEN_HASH_SECRET=a*kRh.EjZ9sgYvz28GJh@X_cGzsTH6kQ
